[Unit]
Description=Учения раз в месяц, ночью
[Timer]
OnCalendar=*-*-01 01:30:00
RandomizedDelaySec=1800
Persistent=false
[Install]
WantedBy=timers.target
